{% extends 'registration/index.html' %}
{% block title %}Login | TDrive{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
    @import url('https://fonts.googleapis.com/css?family=Numans');
    html, body{
        background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        font-family: 'Numans', sans-serif;
    }
        div.ex2 {
            text-align: center;
            color: black;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="ex2"><br><br><br><br><br><br><br><br>
        <div class="container">
            <div class='col-sm-6 col-sm-offset-3'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>Login</div>
                    <div class='panel-body'>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit"> Login</button>
                        </form>
                        <label><input name="remember_me" type="checkbox">Keep me logged in</label>
                        <p><a href="#">forget password?</a></p>
                        <p><a href="/register/">Create account</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
