{% extends 'registration/index.html' %}
{% block title %}Login | TDrive{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Numans');

        html, body {
            background-image: url("https://wallpaperplay.com/walls/full/e/3/c/28158.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            font-family: 'Numans', sans-serif;
        }

        div.ex2 {
            text-align: center;
            color: black;
        }
    </style>
{% endblock %}
{% block content %}
    <div>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href=""><h4><font color="white"> Tdrive </font></h4></a>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">

                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/templates/team/team.html"><h4>
                            <font color="#00bfff">Our
                                Team</font></h4></a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href=""><h4><font color="#00bfff">Using
                            Drive</font></h4></a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href=""><h4><font color="#00bfff">Download</font>
                        </h4></a>
                        </li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href=""><h4><font color="#00bfff">For
                            Business</font></h4></a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href=""><h4><font
                                color="#00bfff">Help</font></h4></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="ex2"><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="container">
            <div class='col-sm-6 col-sm-offset-3'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>Login</div>
                    <div class='panel-body'>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit"> Login</button>
                        </form>
                        <label><input name="remember_me" type="checkbox">Keep me logged in</label>
                        <p><a href="">forget password?</a></p>
                        <p>not having an account and wanna <a href="/register/">Create account</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
