{% extends 'registration/index.html' %}
{% block title %}
    Register | TDrive
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    html, body{
        background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        font-family: 'Numans', sans-serif;
    }
        div.ex2 {
            text-align: center;
            color: black;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="ex2"><br><br><br><br><br>
        <div class="container">
            <div class='col-sm-6 col-sm-offset-3'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>Create New Account</div>
                    <div class='panel-body'>
                        <form method="POST">
                            {% csrf_token %}
                            <table border="1">
                                {% for field in form %}
                                    <p>
                                        {{ field.label_tag }}<br>
                                        {{ field }}
                                        {% for error in field.errors %}
                                            <p style="color:red">{{ error }}</p>
                                        {% endfor %}
                                    </p>
                                {% endfor %}
                            </table>
                            <button type="submit">Signup</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
