{% extends 'registration/index.html' %}
{% block title %}
    Register | TDrive
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        div.ex2 {
            text-align: center;
            color: black;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="ex2"><br><br><br><br><br><br><br><br>
        <div class="container">
            <div class='col-sm-6 col-sm-offset-3'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>Create New Account</div>
                    <div class='panel-body'>
                        <form method="POST">
                            {% csrf_token %}
                            <table border="1">
                                {% for field in form %}
                                    <p>
                                        {{ field.label_tag }}<br>
                                        {{ field }}
                                        {% for error in field.errors %}
                                            <p style="color:red">{{ error }}</p>
                                        {% endfor %}
                                    </p>
                                {% endfor %}
                            </table>
                            <button type="submit">Signup</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
