<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% block head %} {% endblock %}
</head>
<body>
<div class="container">
    {% block body %}

    {% endblock %}
</div>
<div style="height: 5vw">
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% if messages %}
    <script>
        {% for message in messages %}
            M.toast({html: {{message}}{% if message.tags %}, classes: {{ message.tags }}{% endif %}});
        {% endfor %}
    </script>
{% endif %}
</body>
</html>