{% extends 'base.html' %}
{% block title %}My Drive{% endblock %}
{% block body %}
    {% load humanize %}
    <h2>Welcome, {{ request.user.first_name }}</h2>
    <p>
    <form id="file_upload_form" method="post" action="{% url 'file_upload_view' path=current_path %}"
          enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" id="new_file_upload" hidden>
    </form>
    <div id="new_folder" style="position: fixed; left: 45%; top: 12%; background: white; width: 50%; height: 20%;"
         hidden>
        <form class="col s12" id="create_folder_form" method="post"
              action="{% url 'create_folder_view' path=current_path %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="row">
                    <div class="input-field col s6" style="display: inline">
                        <input type="text" name="folder_name" id="new_folder_name" placeholder="Folder Name"
                               class="validate" required value="New Folder">
                    </div>
                    <div class="input-field col s6" style="display: inline">
                        <a href="#" class="btn-small" id="create_folder_button">
                            <i class="material-icons right">create_new_folder</i>
                            Create Folder
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <a href="#" class="btn-small" id="file_upload_button"><i class="material-icons right">file_upload</i>Upload File</a>
    <a href="#" class="btn-small" id="create_folder"><i class="material-icons right">create_new_folder</i>Create
        Folder</a>
    <script>
        let fb = document.getElementById("file_upload_button");
        let file = document.getElementById("new_file_upload");
        fb.onclick = (function () {
            file.click();
        });
        let form = document.getElementById("file_upload_form");
        form.onchange = function () {
            form.submit();
        };
        let cfb = document.getElementById("create_folder_button");
        let cf = document.getElementById("create_folder");
        let nf = document.getElementById("new_folder");
        let nfn = document.getElementById("new_folder_name");
        let form2 = document.getElementById("create_folder_form");
        cf.onclick = function () {
            nf.hidden = !nf.hidden;
        };
        cfb.onclick = function () {
            console.log(nfn.value);
            if (nfn.value === "") {
                nfn.placeholder = "Folder Name cannot be Empty";
                nfn.classList.add("empty-data");
                return false;
            }
            form2.submit();
        };
        nfn.onchange = function () {
            if (nfn.value === '') {
                nfn.placeholder = "Folder Name cannot be Empty";
                nfn.classList.add("empty-data");
            } else {
                nfn.placeholder = "Folder Name";
                nfn.classList.remove("empty-data");
            }
        };
    </script>

    <h3><a href="{% url 'drive_home' %}">My Drive/</a>
        {% for folder, folder_path in current_path %}
            <a href="{% url 'folder_data' path=folder_path %}">{{ folder }}/</a>
        {% endfor %}
    </h3>
    <table class="striped">
        <thead>
        <tr>
            <td>Name</td>
            <td>Size</td>
            <td>Delete</td>
        </tr>
        </thead>
        <tbody>
        {% for folder in folders %}
            <tr>
                <td><a href="{% url 'folder_data' path=folder.urlpath %}"><i
                        class="material-icons left">folder</i>{{ folder.name }}</a></td>
                <td> {{ folder.size|filesizeformat  }} </td>
                <td>
                     <form method="post" action="{% url 'delete_folder' folder.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn-small red"> Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        {% for file in files %}
            <tr>
                <td><a href="{{ file.file.url }}" target="_blank">
                    <i class="material-icons left">insert_drive_file</i>{{ file.name }}</a></td>
                <td> {{ file.file_size|filesizeformat  }} </td>
                <td>
                    <form method="post" action="{% url 'delete_file' file.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn-small red"> Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
